<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd" default-lazy-init="true">
    <!-- 测试name属性bean,name属性是对id属性的扩充 ,可以允许重复值等 -->
    <context:component-scan base-package="com.javaapi.test.spring.spring.pattern.pipelinev2"/>

    <bean id="pipelineProxy" class="com.javaapi.test.spring.spring.pattern.pipelinev2.pipeline.PipelineProxy">
        <property name="list">
            <list>
                <ref bean="limiterPipeline"/>
            </list>
        </property>
    </bean>

    <bean id="pipelineProxyV2" class="com.javaapi.test.spring.spring.pattern.pipelinev2.pipeline.PipelineProxy">
        <property name="list">
            <list>
                <ref bean="limiterPipelineV2"/>
            </list>
        </property>
    </bean>

</beans>